@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* Custom subtle scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0c0a09;
  }
  ::-webkit-scrollbar-thumb {
    background: #292524;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d97706;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
